@import "../general";
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~jssocials/styles/jssocials";
@import url('https://fonts.googleapis.com/css?family=Raleway:100');

.frontend {
  color: #313944;
  font-family: 'Nunito', sans-serif;
}


//
// Home page
//
.home {
  .welcome-msg {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 100;
  }


  form {
    .original-url {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 2px 0,
                  rgba(60, 64, 67, .15) 0 1px 3px 1px;
      border-radius: 0.3rem;

      input {
        color: $primary;
        background: #f1f3f4;
        border: none;

        &:focus {
          box-shadow: none;
        }
      }
    }

    button {
      color: #fff;
      background: $primary;

      &:hover {
        background: darken($primary, 10%);
      }

      &:focus {
        box-shadow: none;
      }
    }

    .custom-url {
      &--title {
        font-weight: bold;
      }

      &--description {
        font-size: 0.8rem;
        font-weight: lighter;
      }

      .site-url {
        display: inline;
        font-size: 25px;
      }

      .url-field {
        display: inline;
        color: $orange;
        font-size: 1.5rem;
        background: none;
        height: calc(2rem + 2px);
        max-width: 200px;
        padding: 0 0.5rem;
        border: none;
        border-bottom: 4px solid $orange;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}


//
// URL Detail
//
.view_short {
  background-color: #f5f7fa;

  .header {
    ul {
      color: rgba(0,0,0,.54);
      font-size: 14px;
      margin-bottom: 0; // Bootstrap 4
    }

    .title {
      color: #292929;
      font-size: 25px;
      line-height: 2.4rem;
    }
  }

  .body {
    @extend %card-body;
    border-radius: $card-border-radius;

    .long-url {
      a {
        color: #35393c;
      }
    }

    .short-url {
      font-weight: bold;
    }

    .btn-clipboard {
      padding: 0 5px; // Bootstrap 4
    }
  }
}


//
// Login & Register
//
.auth {
  background: $bg-gray;

  .card {
    border: none;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 2px 0,
                rgba(60, 64, 67, .15) 0 1px 3px 1px;
  }

  .form-control {
    background: #f1f3f4;
    border-color: #f1f3f4;

    &:hover {
      background: rgb(232, 234, 237);
    }

    &:focus {
      box-shadow: none;
    }
  }

  .input-group-text {
    background: #f1f3f4;
    border: none;
  }
}


//
// Navigation
//
.navbar {
  background-color: $primary !important;
  box-shadow: 0 1px 2px rgba(190, 190, 190, 0.5);
  padding: 0;

  &-brand {
    font-family: Georgia, serif;
    font-size: 2rem;
    font-weight: bold;
  }

  &-nav {
    font-weight: 700;

    .nav-link {
      color: $blue;
    }

    .dropdown-item {
      font-size: 14px;
      font-weight: 300;

      svg {
        color: darken($primary, 15%);
      }
    }

    .img-avatar {
      height: 35px;
      max-width: 100%;
      margin: 0 10px;
      border-radius: 50em;
    }
  }
}


//
// Socials Share
//
.jssocials-share{
  font-size: 1.2rem;

  &-email a {
    color: #4e4e4e;
  }

  &-facebook a {
    color: #3b5998;
  }

  &-twitter a {
    color: #1da1f2;
  }
}
