@import "../general-variables";
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "extend";
@import "components";

@import url('https://fonts.googleapis.com/css?family=Raleway:100');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900');

.frontend {
  color: #313944;
  background: #f9fbfd;
  font-family: 'Nunito', sans-serif;
}


//
// Home page
//
.home {
  .welcome-msg {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 100;
  }


  form {
    .original-url {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);

      input {
        color: #4c94e3;
        background: none;
        border: none;
        border-bottom: 4px solid #0073aa;

        &:focus {
          box-shadow: none;
        }
      }
    }

    button {
      color: #fff;
      background: #0073aa;

      &:hover {
        background: darken(#0073aa, 10%);
      }

      &:focus {
        box-shadow: none;
      }
    }

    .custom-url {
      .title {
        font-weight: lighter;
      }

      .site-url {
        display: inline;
        font-size: 25px;
      }

      .url-field {
        color: $orange;
        font-size: 1.5rem;
        height: calc(2rem + 2px);
        padding: 0 0.5rem;
        display: inline;
        max-width: 200px;
        background: none;
        border: none;
        border-bottom: 4px solid $orange;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}


//
// URL Detail
//
.view_short {
  background-color: #f5f7fa;

  .header {
    ul {
      color: rgba(0,0,0,.54);
      font-size: 14px;
      margin-bottom: 0; // Bootstrap 4
    }

    .title {
      color: #292929;
      font-size: 25px;
      line-height: 2.4rem;
    }
  }

  .body {
    @extend %card-body;
    border-radius: 0.625rem;

    .long-url {
      a {
        color: #35393c;
      }
    }

    .short-url {
      font-weight: bold;
    }

    .btn-clipboard {
      padding: 0 5px; // Bootstrap 4
    }
  }
}


//
// Login & Register
//
.auth {
  background: $bg-gray;

  .card {
    border: none;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);
  }

  .form-control {
    background: #f1f3f4;
    border-color: #f1f3f4;

    &:focus {
      box-shadow: none;
      border-bottom: 2px solid $green;
    }
  }
}
