//
// Backend variables
//

//*
//* Bootstrap
//*

// Breadcrumbs
$breadcrumb-bg:            #fff;
$breadcrumb-border-radius: none;
$breadcrumb-margin-bottom: 0;

// Table
$table-accent-bg: rgba($bg-gray, .05) !default;



//*
//* CoreUI
//*

// Sidebar Navigation
$sidebar-bg:                            $bg-gray;
$sidebar-nav-color:                     #212529;
$sidebar-nav-link-color:                $sidebar-nav-color;
$sidebar-nav-link-active-color:         $primary;
$sidebar-nav-link-active-bg:            $sidebar-bg;

$sidebar-nav-dropdown-bg:               $sidebar-bg;
$sidebar-nav-dropdown-color:            $sidebar-nav-color;
$sidebar-nav-dropdown-indicator-color:  $sidebar-nav-link-color;

// Sidebar Minimizer
$sidebar-minimizer-bg:                      $bg-gray;
$sidebar-minimizer-hover-bg:                darken($sidebar-bg, 2%);
$sidebar-minimizer-hover-indicator-color:   $sidebar-nav-link-color;

// Breadcrumb
$breadcrumb-borders: none;

// Footer
$footer-bg:         $bg-gray;
$footer-borders:    none;
