/*!
 * Bootstrap
 */

// Breadcrumbs
$breadcrumb-bg:             $bg-gray;
$breadcrumb-border-radius:  none;

// Table
$table-accent-bg: rgba($bg-gray, .05) !default;

// Dropdowns
$dropdown-link-color:       #555 !default;
$dropdown-link-hover-color: darken($dropdown-link-color, 5%) !default;



/*!
 * CoreUI
 */

// Sidebar Navigation
$sidebar-bg:                            $bg-gray;
$sidebar-nav-color:                     #333;
$sidebar-nav-link-color:                #333;
$sidebar-nav-link-active-color:         $primary;
$sidebar-nav-link-active-bg:            $sidebar-bg;

$sidebar-nav-dropdown-bg:               $sidebar-bg;
$sidebar-nav-dropdown-color:            $sidebar-nav-color;
$sidebar-nav-dropdown-indicator-color:  $sidebar-nav-link-color;

// Sidebar Minimizer
$sidebar-minimizer-bg:                      $bg-gray;
$sidebar-minimizer-hover-bg:                darken($sidebar-bg, 2%);
$sidebar-minimizer-hover-indicator-color:   $sidebar-nav-link-color;

// Breadcrumb
$breadcrumb-borders: none;

// Footer
$footer-bg:         $bg-gray;
$footer-borders:    none;
