@import "../bootstrap-custom";
@import "node_modules/@coreui/coreui/scss/coreui-standalone";

body {
  background: $bg-gray;
}

.card {
  border: none;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);

  &-footer {
      background: hsl(0, 0%, 97%);
      border-top: none;
  }
}

.sidebar {
  .nav-link {
    &.active {
      border-left: 4px solid $primary;
    }
  }
}
