@import "../general-variables";
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~@coreui/coreui/scss/coreui-standalone";
@import "~datatables.net-dt/css/jquery.dataTables.css";

body {
  background: $bg-gray;
}

.card {
  border: none;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);

  &-footer {
      background: hsl(0, 0%, 97%);
      border-top: none;
  }
}

.sidebar {
  .nav-link {
    &.active {
      border-left: 4px solid $primary;
    }
  }

  .nav-dropdown {
    &.open {
      .nav-link {
        border-left: 4px solid $primary;
      }
    }

    .nav-link {
      &.active {
        border-left: 4px solid $primary;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}



//
// DataTables
//
.dataTables_wrapper {
  .dataTables_length {
    select {
      border: 1px solid #dee2e6;
    }
  }

  .dataTables_filter {
    input {
      border: 1px solid #dee2e6;
    }
  }

  table {
    &.dataTable {
      thead th,
      &.no-footer {
        border-color: #dee2e6;
      }
    }
  }

  .dataTables_paginate {
    .paginate_button {
      &.current,
      &.current:hover {
        background: none;
        color: $green !important;
        border-color: transparent;
        font-weight: bold;
      }

      &:hover {
        background: $green;
        color: #fff !important;
        border-color: $green;
      }
    }
  }

  .dataTables_paginate,
  .dataTables_info {
    margin-top: 1.5rem;
  }
}
