/.tmp
public/css/*
public/js/*
public/mix-manifest.json

## IDE Local Workspace Folder
/.idea
/.fleet

## Laravel
.env
.env.backup
.env.production
/public/*/*.map
/public/build
/public/hot
/public/storage
/storage/*.key
auth.json
Homestead.json
Homestead.yaml

## Package Manager
# Composer
/vendor
composer.phar
composer.lock
# NPM
/node_modules
npm-debug.log
yarn-error.log

## Testing
# PHPUnit
.phpunit.cache
.phpunit.result.cache
phpunit.xml
# Infection
/infection-cache
infection.json
infection.log

## Coding Standards
# CodeSniffer
/CodeSniffer.conf
phpcs.xml
.phpcs.xml
# PHP-CS-Fixer
.php_cs
.php_cs.cache
.php-cs-fixer.php
.php-cs-fixer.cache

## Static Analysis
# PHPStan
phpstan.neon
# Psalm
psalm.xml
