/tests/coverage

## IDE Local Workspace Folder
/.idea
/.vscode

## Laravel
.env
.env.backup
/public/*/*.map
/public/hot
/public/storage
/storage/*.key
Homestead.json
Homestead.yaml

## Composer
/vendor
composer.phar

## NPM
/node_modules
npm-debug.log
yarn-error.log

## PHPUnit
.phpunit.result.cache

## CodeSniffer
/CodeSniffer.conf
/phpcs.xml

# Infection
/infection-cache
/infection.json
/infection.log

## PHP-CS-Fixer
.php_cs
.php_cs.cache
.php-cs-fixer.php
.php-cs-fixer.cache

#
docker-compose.override.yml
PHP_Insights.json
