dist: bionic

language: php

php:
  - 7.2.21
  - 7.3

services:
  - mysql

cache:
  directories:
    - vendor

install:
  - composer self-update
  - composer install --no-interaction

before_script:
  - mysql -e 'create database urlhub_test;'
  - cp .env.example .env
  - php artisan key:generate

script:
  - mkdir -p build/logs
  - vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_success:
  - travis_retry php vendor/bin/php-coveralls -v
