parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property object\\:\\:\\$token\\.$#"
			count: 1
			path: tests/Feature/Auth/ForgotPasswordTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 2
			path: tests/Feature/ShortenUrlTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$keyword\\.$#"
			count: 6
			path: tests/Feature/ShortenUrlTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$long_url\\.$#"
			count: 4
			path: tests/Feature/ShortenUrlTest.php

		-
			message: "#^Method Tests\\\\Feature\\\\ShortenUrlTest\\:\\:hashIdRoute\\(\\) has parameter \\$routeName with no type specified\\.$#"
			count: 1
			path: tests/Feature/ShortenUrlTest.php

		-
			message: "#^Method Tests\\\\Feature\\\\ShortenUrlTest\\:\\:hashIdRoute\\(\\) has parameter \\$url_id with no type specified\\.$#"
			count: 1
			path: tests/Feature/ShortenUrlTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$keyword\\.$#"
			count: 5
			path: tests/Feature/ShortenUrlWithLongUrlAlreadyExistTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$long_url\\.$#"
			count: 8
			path: tests/Feature/ShortenUrlWithLongUrlAlreadyExistTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 4
			path: tests/Feature/UrlBeTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$keyword\\.$#"
			count: 3
			path: tests/Feature/UrlBeTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$long_url\\.$#"
			count: 1
			path: tests/Feature/UrlBeTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$meta_title\\.$#"
			count: 1
			path: tests/Feature/UrlBeTest.php

		-
			message: "#^Call to an undefined method object\\:\\:encode\\(\\)\\.$#"
			count: 2
			path: tests/Feature/UrlBeTest.php

		-
			message: "#^Method Tests\\\\Feature\\\\UrlBeTest\\:\\:hashIdRoute\\(\\) has parameter \\$routeName with no type specified\\.$#"
			count: 1
			path: tests/Feature/UrlBeTest.php

		-
			message: "#^Method Tests\\\\Feature\\\\UrlBeTest\\:\\:hashIdRoute\\(\\) has parameter \\$url_id with no type specified\\.$#"
			count: 1
			path: tests/Feature/UrlBeTest.php

		-
			message: "#^Call to an undefined method object\\:\\:encode\\(\\)\\.$#"
			count: 1
			path: tests/Feature/User/ChangePasswordTest.php

		-
			message: "#^Method Tests\\\\Feature\\\\User\\\\ChangePasswordTest\\:\\:getRoute\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: tests/Feature/User/ChangePasswordTest.php

		-
			message: "#^Method Tests\\\\Feature\\\\User\\\\ChangePasswordTest\\:\\:postRoute\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: tests/Feature/User/ChangePasswordTest.php

		-
			message: "#^Call to an undefined method object\\:\\:encode\\(\\)\\.$#"
			count: 1
			path: tests/Feature/User/ProfileTest.php

		-
			message: "#^Method Tests\\\\Feature\\\\User\\\\ProfileTest\\:\\:getRoute\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: tests/Feature/User/ProfileTest.php

		-
			message: "#^Method Tests\\\\Feature\\\\User\\\\ProfileTest\\:\\:postRoute\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: tests/Feature/User/ProfileTest.php

		-
			message: "#^Property Tests\\\\TestCase\\:\\:\\$adminRole has no type specified\\.$#"
			count: 1
			path: tests/TestCase.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$keyword\\.$#"
			count: 1
			path: tests/Unit/Controllers/UrlRedirectControllerTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$long_url\\.$#"
			count: 1
			path: tests/Unit/Controllers/UrlRedirectControllerTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertIsInt\\(\\) with int will always evaluate to true\\.$#"
			count: 1
			path: tests/Unit/Helpers/HelperTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertIsString\\(\\) with string will always evaluate to true\\.$#"
			count: 1
			path: tests/Unit/Helpers/HelperTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 1
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$long_url\\.$#"
			count: 1
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$meta_title\\.$#"
			count: 1
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$user\\.$#"
			count: 1
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$user_id\\.$#"
			count: 1
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Access to an undefined property Tests\\\\Unit\\\\Models\\\\UrlTest\\:\\:\\$nClickWithUserId\\.$#"
			count: 2
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Access to an undefined property Tests\\\\Unit\\\\Models\\\\UrlTest\\:\\:\\$nClickWithoutUserId\\.$#"
			count: 2
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Access to an undefined property Tests\\\\Unit\\\\Models\\\\UrlTest\\:\\:\\$nUrlWithUserId\\.$#"
			count: 2
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Access to an undefined property Tests\\\\Unit\\\\Models\\\\UrlTest\\:\\:\\$nUrlWithoutUserId\\.$#"
			count: 2
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Access to an undefined property Tests\\\\Unit\\\\Models\\\\UrlTest\\:\\:\\$tClick\\.$#"
			count: 2
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Access to an undefined property Tests\\\\Unit\\\\Models\\\\UrlTest\\:\\:\\$totalUrl\\.$#"
			count: 3
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:user\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:visit\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Call to an undefined method Mockery\\\\Mock\\:\\:keyRemaining\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Call to an undefined method Mockery\\\\Mock\\:\\:keyRemainingInPercent\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$methodNames of method Mockery\\\\Mock\\:\\:shouldReceive\\(\\) expects string, array\\<string, mixed\\> given\\.$#"
			count: 2
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\Relation\\<App\\\\Models\\\\Url\\>\\:\\:exists\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Models/UserTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 1
			path: tests/Unit/Models/VisitTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:url\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Models/VisitTest.php

		-
			message: "#^Method Tests\\\\Unit\\\\Policies\\\\UserPolicyTest\\:\\:getCPRoute\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: tests/Unit/Policies/UserPolicyTest.php
