includes:
  - vendor/nunomaduro/larastan/extension.neon
  - phpstan-baseline.neon

parameters:
  level: 8
  paths:
    - app/
  tmpDir: .logs/
  editorUrl: 'vscode://file/%%file%%:%%line%%'
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  ignoreErrors:
    - "#Call to an undefined method#"
