includes:
    - phpstan-baseline.neon
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 6
    paths:
        - app
        - bootstrap
    tmpDir: .tmp/PHPStan
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
