parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property object\\:\\:\\$token\\.$#"
			count: 1
			path: tests/Feature/Auth/ForgotPasswordTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertIsInt\\(\\) with int will always evaluate to true\\.$#"
			count: 1
			path: tests/Unit/Helpers/HelperTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertIsString\\(\\) with string will always evaluate to true\\.$#"
			count: 1
			path: tests/Unit/Helpers/HelperTest.php

		-
			message: "#^Access to an undefined property Tests\\\\Unit\\\\Models\\\\UrlTest\\:\\:\\$nClickWithUserId\\.$#"
			count: 2
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Access to an undefined property Tests\\\\Unit\\\\Models\\\\UrlTest\\:\\:\\$nClickWithoutUserId\\.$#"
			count: 2
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Access to an undefined property Tests\\\\Unit\\\\Models\\\\UrlTest\\:\\:\\$nUrlWithUserId\\.$#"
			count: 2
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Access to an undefined property Tests\\\\Unit\\\\Models\\\\UrlTest\\:\\:\\$nUrlWithoutUserId\\.$#"
			count: 2
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Access to an undefined property Tests\\\\Unit\\\\Models\\\\UrlTest\\:\\:\\$tClick\\.$#"
			count: 2
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Access to an undefined property Tests\\\\Unit\\\\Models\\\\UrlTest\\:\\:\\$totalUrl\\.$#"
			count: 3
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:user\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:visit\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Call to an undefined method Mockery\\\\Mock\\:\\:keyRemaining\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Call to an undefined method Mockery\\\\Mock\\:\\:keyRemainingInPercent\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$methodNames of method Mockery\\\\Mock\\:\\:shouldReceive\\(\\) expects string, array\\<string, mixed\\> given\\.$#"
			count: 2
			path: tests/Unit/Models/UrlTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\Relation\\<App\\\\Models\\\\Url\\>\\:\\:exists\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Models/UserTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:url\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Models/VisitTest.php
