<?xml version="1.0"?>
<psalm
  errorLevel="6"
  errorBaseline="psalm-baseline.xml">
  <projectFiles>
    <directory name="app"/>
  </projectFiles>

  <issueHandlers>
    <PropertyNotSetInConstructor errorLevel="info"/>
    <UndefinedFunction>
      <errorLevel type="suppress">
          <referencedFunction name="uHub"/>
          <referencedFunction name="urlDisplay"/>
          <referencedFunction name="urlSanitize"/>
      </errorLevel>
    </UndefinedFunction>
  </issueHandlers>
  <plugins>
    <pluginClass xmlns="https://getpsalm.org/schema/config" class="Psalm\LaravelPlugin\Plugin"/>
  </plugins>
</psalm>
