<?xml version="1.0"?>
<psalm
  xmlns="https://getpsalm.org/schema/config"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://getpsalm.org/schema/config config.xsd"
  errorBaseline="psalm-baseline.xml"
  findUnusedPsalmSuppress="true"
>
  <projectFiles>
    <directory name="app"/>
    <ignoreFiles>
      <directory name="vendor" />
    </ignoreFiles>
  </projectFiles>

  <issueHandlers>
    <PropertyNotSetInConstructor errorLevel="info"/>
    <UndefinedFunction>
      <errorLevel type="suppress">
        <referencedFunction name="urlDisplay"/>
        <referencedFunction name="urlSanitize"/>
      </errorLevel>
    </UndefinedFunction>
    <!-- PSalm doesn't understand PowerGrid very well
    The code is according to the documentation https://livewire-powergrid.com/#/table/datasource-->
    <InvalidReturnStatement>
      <errorLevel type="suppress">
        <directory name="app/Http/Livewire" />
      </errorLevel>
    </InvalidReturnStatement>
    <InvalidReturnType>
      <errorLevel type="suppress">
        <directory name="app/Http/Livewire" />
      </errorLevel>
    </InvalidReturnType>
    <!-- This is probably a bug from PSalm -->
    <PossiblyInvalidOperand>
      <errorLevel type="suppress">
        <directory name="app/Http/Livewire" />
      </errorLevel>
    </PossiblyInvalidOperand>
  </issueHandlers>

  <plugins>
    <pluginClass class="Psalm\LaravelPlugin\Plugin"/>
  </plugins>
</psalm>
