@use "sass:color";
@use "sass:map";

//----------------------------------------------------------------------------
// Custom variables
//----------------------------------------------------------------------------
$nord-pn1: #2e3440;
$nord-pn2: #3b4252;
$nord-pn3: #434c5e;
$nord-pn4: #4c566a;
$nord-ss1: #d8dee9;
$nord-ss2: #e5e9f0;
$nord-ss3: #eceff4;
$nord-f1: #8fbcbb;
$nord-f2: #88c0d0;
$nord-f3: #81a1c1;
$nord-f4: #5e81ac;
$nord-a1: #bf616a;
$nord-a2: #d08770;
$nord-a3: #ebcb8b;
$nord-a4: #a3be8c;
$nord-a5: #b48ead;

$uh--black:   $nord-pn1;
$uh--blue:    $nord-f4;
$uh--green:   $nord-a4;
$uh--indigo:  #3958c8;
$uh--purple:  #546de5;
$uh--red:     $nord-a1;
$uh--orange:  $nord-a2;

$uh--bg-gray: #f3f4f6;

$uh--primary:   $uh--blue;
$uh--secondary: $uh--green;
$uh--tertiary:  $uh--orange;
