@use "sass:color";
@use "mixins" as mixin;
@import "base";
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900');

body {
  font-family: 'Nunito', sans-serif;
  background: #f8f9fb;
}

//
// Password Toggler
//
.password-toggler {
  border: none;
  transition: 0.1s all ease-out;
  cursor: pointer;

  &:hover {
    background-color: #c5c7ca;
  }
}
