@import "extend";
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~@coreui/coreui/scss/coreui-standalone";
@import "~datatables.net-dt/css/jquery.dataTables.css";
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900');

body {
  font-family: 'Nunito', sans-serif;
  background: $uh--bg-gray;
}


//
// Navbar
//
.navbar {
  &-brand {
    font-size: 1.5rem;
    font-family: Georgia, serif;
    font-weight: bold;
  }

  .navbar-nav {
    .nav-link {
      color: #212529;
    }

    #homepage-icon:hover {
      color: $uh--primary;
    }

    .dropdown-item {
      font-size: 14px;
      font-weight: 300;

      svg {
        color: $uh--primary;
      }
    }
  }
}


//
// Sidebar
//
.sidebar {
  .nav-link {
    &.active {
      border-left: 4px solid $sidebar-nav-link-hover-color;
    }
  }

  .nav-dropdown {
    &.open {
      .nav-link {
        border-left: 4px solid $sidebar-nav-link-hover-color;
      }
    }

    .nav-link {
      &.active {
        border-left: 4px solid $sidebar-nav-link-hover-color;
      }

      &:hover {
        color: $sidebar-nav-link-hover-color;
      }
    }
  }
}


//
// Stat
//
.right_now {
  .hint {
    .all {
      color: $uh--primary;
    }

    .me {
      color: $uh--secondary;
    }

    .guest {
      color: $uh--tertiary;
    }
  }

  &-label {
    font-weight: 300;
  }

  &-text {
    &--primary {
      color: $uh--primary;
      font-size: 1.5rem;
      font-weight: 600;
    }

    &--secondary {
      color: $uh--secondary;
      font-size: 1.5rem;
      font-weight: 600;
    }

    &--tertiary {
      color: $uh--tertiary;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}


//
// Card
//
.card {
  @extend %box-shadow;
  border: none;

  &.border-left {
    border-color: #009689 !important;
    border-width: .25rem !important;
  }

  &-title {
    font-weight: 700;
  }
}


//
// DataTables
//
.dataTables_wrapper {
  .dataTables_length {
    select {
      color: #5c5c5c;
      background: #f1f3f4;
      border: 1px solid #f1f3f4;
      border-radius: 4px;
    }
  }

  .dataTables_filter {
    input {
      background: #f1f3f4;
      border: none;
      border-radius: 4px;
      padding: 6px 8px;

      &::placeholder {
        color: #5c5c5c;
      }
    }
  }

  table {
    &.dataTable {
      thead th {
        background-color: $uh--bg-gray;
        color: #7b858e;

        &:hover {
          color: $uh--primary;
        }
      }

      thead th,
      &.no-footer {
        border-color: #dee2e6;
      }

      tbody {
        color: #262d37;

        // Short & Long URL column
        a {
          color: #262d37;
        }

        .short_url {
          cursor: default;
        }

        // Actions collumn
        .btn:focus {
          box-shadow: none;
        }

        .svg-inline--fa {
          color: #b3b9bf;
        }

        .fa-eye:hover,
        .fa-user-edit:hover {
          color: $uh--green;
        }

        .fa-trash-alt:hover {
          color: $uh--red;
        }

        .fa-key:hover {
          color: $uh--orange;
        }
      }
    }
  }

  .dataTables_paginate {
    .paginate_button {
      &.current,
      &.current:hover {
        color: $uh--green !important;
        font-weight: bold;
        background: none;
        border-color: transparent;
      }

      &:hover {
        color: #fff !important;
        background: $uh--green;
        border-color: $uh--green;
      }
    }
  }

  .dataTables_paginate,
  .dataTables_info {
    margin-top: 1.5rem;
  }
}


//
// Form
//
.form-control {
  background: #f1f3f4;
  border-color: #f1f3f4;

  &:focus {
    border-color: $uh--secondary;
    box-shadow: none;
  }

  &#name:disabled {
    color: $uh--primary;
    font-weight: bold;
    background: #fff;
    border: none;
  }
}

.form-error-feedback {
  color: $uh--red;
  font-size: 80%;
}

.app-footer {
  font-size: 13px;
}


//
// Statistics Page
//
.statistics {

}
