@use "sass:color";
@use "mixins" as mixin;
@import "base";
@import "~datatables.net-dt/css/jquery.dataTables.css";
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900');

body {
  font-family: 'Nunito', sans-serif;
  background: #f8f9fb;
}

//
// Card
//
.card {
  @include mixin.box-shadow;
  border: none;

  &.border-left {
    border-color: #009689 !important;
    border-width: .25rem !important;
  }

  &-title {
    font-weight: 700;
  }
}


//
// DataTables
//
.dataTables_wrapper {
  .dataTables_length, .dataTables_filter {
    margin-bottom: 1rem;
  }

  .dataTables_length {
    select {
      color: #5c5c5c;
      background: #f1f3f4;
      border: 1px solid #f1f3f4;
      border-radius: 4px;
    }
  }

  .dataTables_filter {
    input {
      background: #f1f3f4;
      border: none;
      border-radius: 4px;
      padding: 6px 8px;

      &::placeholder {
        color: #5c5c5c;
      }
    }
  }

  table {
    &.dataTable {
      thead th {
        background-color: $uh--bg-gray;
        color: #7b858e;

        &:hover {
          color: $uh--primary;
        }
      }

      thead th,
      &.no-footer {
        border-color: #dee2e6;
      }

      tbody {
        color: $uh--black;

        // Short & Long URL column
        a {
          color: $uh--black;
        }

        .short_url {
          cursor: default;
        }

        // Actions collumn
        .btn:focus {
          box-shadow: none;
        }

        .svg-inline--fa {
          color: #b3b9bf;
        }

        .fa-eye:hover,
        .fa-clone:hover,
        .fa-edit:hover,
        .fa-user-edit:hover {
          color: $uh--green;
        }

        .fa-trash-alt:hover {
          color: $uh--red;
        }

        .fa-key:hover {
          color: $uh--orange;
        }
      }
    }
  }

  .dataTables_paginate {
    .paginate_button {
      &.current,
      &.current:hover {
        color: $uh--green !important;
        font-weight: bold;
        background: none;
        border-color: transparent;
      }

      &:hover {
        color: #fff !important;
        background: $uh--green;
        border-color: $uh--green;
      }
    }
  }

  .dataTables_paginate,
  .dataTables_info {
    margin-top: 1.5rem;
  }
}


//
// Password Toggler
//
.password-toggler {
  border: none;
  transition: 0.1s all ease-out;
  cursor: pointer;

  &:hover {
    background-color: #c5c7ca;
  }
}
