@use "sass:color";
@use "mixins" as mixin;
@import "base";

//
// Navigation
//
.navbar {
  &-brand {
    font-family: Georgia, serif;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    text-decoration: none;
    white-space: nowrap;
  }
}
