@use "sass:color";
@use "mixins" as mixin;
@import "variables";
@import "bootstrap";
@import "jssocials/styles/jssocials";
@import url('https://fonts.googleapis.com/css?family=Raleway:100');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900');

.frontend {
  color: #313944;
  font-family: 'Nunito', sans-serif;
}


//
// Home page
//
.home {
  .welcome-msg {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 100;
  }


  form {
    .original-url {
      @include mixin.box-shadow;
      border-radius: 0.3rem;

      input {
        color: $uh--primary;
        background: #f1f3f4;
        border: none;

        &:focus {
          box-shadow: none;
        }
      }
    }

    button {
      color: #fff;
      background: $uh--primary;

      &:hover {
        background: color.adjust($uh--primary, $lightness: -10%);
        color: #fff;
      }

      &:focus {
        box-shadow: none;
      }
    }

    .custom-url {
      &--title {
        font-weight: bold;
      }

      &--description {
        font-size: 0.8rem;
        font-weight: lighter;
      }

      .site-url {
        display: inline;
        font-size: 25px;
      }

      .url-field {
        display: inline;
        color: $uh--orange;
        font-size: 1.5rem;
        background: none;
        height: calc(2rem + 2px);
        max-width: 200px;
        padding: 0 0.5rem;
        border: none;
        border-bottom: 4px solid $uh--orange;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}


//
// URL Detail
//
.view_short {
  background-color: #f5f7fa;

  .header {
    ul {
      color: rgba(0,0,0,.54);
      font-size: 14px;
      margin-bottom: 0; // Bootstrap 4
    }

    .title {
      color: #292929;
      font-size: 25px;
      line-height: 2.4rem;
    }
  }

  .body {
    @include mixin.card-body;

    .long-url {
      font-size: 14px;
      word-break: break-all;
    }

    .short-url {
      font-weight: bold;
    }

    .btn-clipboard {
      padding: 0 5px; // Bootstrap 4
    }

    .embedcode {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}


//
// Login & Register
//
.auth {
  background: $uh--bg-gray;

  .card {
    @include mixin.box-shadow;
    border: none;
  }

  .form-control {
    background: #f1f3f4;
    border-color: #f1f3f4;

    &:hover {
      background: rgb(232, 234, 237);
    }

    &:focus {
      box-shadow: none;
    }
  }

  .input-group-text {
    background: #f1f3f4;
    border: none;
  }
}


//
// Navigation
//
.navbar {
  background-color: color.adjust($uh--primary, $lightness: -10%) !important;
  box-shadow: 0 1px 2px rgba(190, 190, 190, 0.5);
  padding: 0;

  &-brand {
    font-family: Georgia, serif;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 0.3125rem;
  }

  @include media-breakpoint-up(md) {
    &-brand {
      padding-left: 0;
    }
  }

  &-nav {
    font-weight: 700;

    .dropdown-item {
      font-size: 14px;
      font-weight: 300;

      svg {
        color: color.adjust($uh--primary, $lightness: -15%);
      }
    }

    .img-avatar {
      height: 35px;
      max-width: 100%;
      border-radius: 50em;
      margin: 0 10px;
    }
  }
}


//
// qrCode
//
.qrcode {
  margin-left: auto;
  margin-right: auto;
  display: block;
}


//
// Socials Share
//
.jssocials-share{
  font-size: 1rem;

  &-email a {
    color: #d14836;
  }

  &-facebook a {
    color: #3b5998;
  }

  &-twitter a {
    color: #1da1f2;
  }

  &-whatsapp a {
    color: #1db69e;
  }

  &-telegram a {
    color: #2ca5e0;
  }
}
