@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900');

//
// General variables
//
$bg-gray: #f5f5f7;

$blue:    #3B5998;
$green:   #1c9963;
$indigo:  #3958c8;
$red:     #e04a4a;
$orange:  #ff813f;

$primary:   $blue;
$secondary: $green;
$tertiary:  $orange;
$success:   $green;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "tertiary":  $tertiary
  ),
  $theme-colors
);

// Dropdowns
$dropdown-link-color:       #333 !default;
$dropdown-link-hover-color: darken($dropdown-link-color, 5%) !default;

// Cards
$card-cap-bg:        none;
$card-border-radius: 0.25rem;

//
// Extend
//
%card-body {
  @extend %box-shadow;
  background-color: #fff;
  padding: 20px 0;
}

%box-shadow {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 2px 0,
              rgba(60, 64, 67, .15) 0 1px 3px 1px;
}
