$bg-gray: #f8f9fa;

/*
 * Bootstrap
 */
// $blue:    #4c94e3;
$blue:    #3B5998;
$green:   #1c9963;
$indigo:  #3958c8;
$red:     #e04a4a;
$orange:  #ff813f;

$primary: $blue;
$success: $green;

// Dropdowns
$dropdown-link-color:       #333 !default;
$dropdown-link-hover-color: darken($dropdown-link-color, 5%) !default;

// Cards
$card-cap-bg:         none;
$card-border-radius:  0.625rem;
