@import './_tailwind.css';

@layer base {
    h1 { font-size: 2em; }
    h2 { font-size: 1.75em; }
    h3 { font-size: 1.5em; }

    hr { @apply !border-border-200 dark:!border-dark-700; }
}

main {
    @apply py-8;
}

.frontend, .backend, .auth {
    @apply bg-gray-50 font-sans text-slate-900 antialiased;
    @apply dark:bg-dark-950 dark:text-dark-300;
}

.logo {
    @apply text-uh-logo font-serif font-bold;
    @apply dark:text-uh-logo-dark;
}


/*
 * Components
 */
 @layer components {
    .container-alt {
        @apply max-w-360 mx-auto;
        @apply sm:px-6 lg:px-8;
    }
 }

.blade-icon {
    display: inline-block;
    height: 1em;
    overflow: visible;
    box-sizing: content-box;
    vertical-align: -0.125em;
}

.card {
    @apply bg-white border border-border-300/70 rounded-md;
    @apply dark:bg-dark-900 dark:border-dark-700;

    &.card-fluid {
        @apply max-sm:rounded-none;
    }
}


.btn {
    @apply inline-flex items-center justify-center px-4 h-10 min-h-10 ;
    @apply border border-border-300 rounded-md duration-300 ease-out cursor-pointer select-none disabled:opacity-25;
    @apply text-base font-normal text-center text-slate-800 no-underline align-middle tracking-wide;
    @apply dark:text-dark-400 dark:border-dark-700;
    /* box-shadow: 0px 1.6px 2px rgba(0,0,0,0.13), 0px 0px 2px rgba(0,0,0,0.11) !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */

    &.btn-primary {
        @apply text-white bg-primary-600 border-primary-600 hover:bg-primary-600/90 active:bg-primary-800;
        @apply dark:text-primary-500 dark:bg-dark-950 dark:hover:bg-dark-900/50 dark:border-dark-700 dark:hover:border-primary-500;
    }

    &.btn-secondary {
        @apply bg-gray-100 hover:bg-gray-50 active:bg-gray-100 hover:border-stone-400/70;
        @apply dark:hover:text-emerald-500 dark:bg-dark-800 dark:hover:bg-dark-800 dark:hover:border-emerald-500;
    }

    &.btn-delete {
        @apply bg-gray-100 hover:bg-red-50 hover:border-red-400/70 hover:text-red-800 active:text-red-700;
        @apply dark:bg-dark-800 dark:hover:bg-dark-800 dark:hover:text-red-500 dark:hover:border-red-500;
    }

    &.btn-delete-danger {
        @apply bg-red-50 border-red-400/70 text-red-800 active:text-red-700 hover:bg-red-200;
        @apply dark:bg-dark-950 dark:text-red-500 dark:border-red-500 dark:hover:bg-red-950 dark:hover:text-red-200 dark:hover:border-red-700;
    }

    &.btn-sm {
        @apply h-8 min-h-8 px-3;
        @apply text-sm;
    }

    &.btn-xs {
        @apply h-6 min-h-6 px-2;
        @apply text-xs;
    }

    &.btn-square {
        @apply size-12 p-0;

        &:where(.btn-sm) { @apply size-8; }
        &:where(.btn-xs) { @apply size-6; }
    }
}


.switch {
    position: relative;
    display: inline-block;
    height: 23px; width: 49px;

    /* The slider */
    .slider {
        @apply bg-gray-300 border border-border-300;
        @apply dark:bg-dark-800 dark:border-dark-700;
        position: absolute;
        cursor: pointer;
        top: 0; bottom: 0; left: 0; right: 0;
        transition: .4s;
        border-radius: 34px;

        @apply before:bg-white dark:before:bg-dark-700;
        &:before {
            position: absolute;
            content: "";
            height: 15px; width: 15px;
            left: 3px; bottom: 3px;
            transition: .4s;
            border-radius: 50%;
        }
    }

    /* Hide default HTML checkbox */
    input {
        opacity: 0;
        height: 0; width: 0;

        &:checked + .slider {
            @apply bg-primary-600 dark:bg-dark-800;
            @apply border border-primary-600 dark:border-dark-700;

            @apply before:bg-white dark:before:bg-emerald-500;
            @apply before:translate-x-6.5;
        }
    }
}


.form-label {
    display: block;
    margin: 0 0 6px;
}
.form-input {
    @apply block w-full py-1.5;
    @apply border-border-300 focus:ring-0 focus:border-primary-500 rounded;
    @apply bg-gray-50/80 focus:bg-white;
    @apply dark:text-dark-400 dark:bg-dark-800 dark:focus:bg-dark-800 dark:border-dark-700 dark:hover:[:not(:disabled)]:border-dark-600 dark:focus:border-dark-500;

    &[disabled], &:disabled {
        @apply bg-gray-50/80 text-slate-700/50 cursor-not-allowed;
        @apply dark:bg-dark-800/80 dark:text-dark-400/50;
    }
}
