@import "./../../vendor/power-components/livewire-powergrid/dist/powergrid.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }
}

/*
 * Components
 */

.blade-icon {
  display: inline-block;
  height: 1em;
  overflow: visible;
  box-sizing: content-box;
  vertical-align: -0.125em;
}

.btn {
  @apply inline-flex items-center px-3 py-1.5;
  @apply bg-stone-50 hover:bg-stone-200 active:bg-stone-50 text-gray-500 hover:text-gray-600 active:text-gray-500;
  @apply text-base font-normal leading-6 text-center no-underline align-middle tracking-wide;
  @apply rounded disabled:opacity-25;
  @apply cursor-pointer select-none;
  /* box-shadow: 0px 1.6px 2px rgba(0,0,0,0.13), 0px 0px 2px rgba(0,0,0,0.11) !important;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */

  &-sm {
    @apply text-sm leading-6;
    @apply px-2 py-1;
  }

  &-primary {
    @apply text-base font-normal text-white bg-sky-800 border-sky-800;
    @apply hover:text-white hover:bg-sky-900 active:bg-[#0078d4] hover:border-white;
  }

  &-secondary {
    @apply border border-zinc-200;
    @apply text-sky-800 hover:text-sky-900 active:text-sky-800 ;
    @apply bg-stone-50 hover:bg-stone-200 active:bg-stone-50 ;
  }
}

.form-input {
  @apply block w-full;
  @apply border-slate-200 focus:ring-uh-blue-2 focus:border-uh-blue-2 rounded
}

.common-card-style {
  @apply bg-white sm:rounded-lg sm:border sm:border-zinc-200;
  @apply sm:shadow-[0_1px_2px_#e5e5e8];
}
