@import "./../../vendor/power-components/livewire-powergrid/dist/tailwind.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        font-size: 2em
    }

    h2 {
        font-size: 1.75em;
    }

    h3 {
        font-size: 1.5em;
    }
}

.layout-container {
    @apply max-w-[90rem] mx-auto;
}

main {
    @apply py-4 sm:px-6 lg:px-8;
    @apply layout-container;
}

.frontend, .backend, .auth {
    @apply bg-gray-50 font-sans text-slate-900 antialiased;
}

.logo {
    @apply text-uh-blue font-serif font-bold;
}

hr {
    @apply !border-border-200;
}

/*
 * Components
 */

.alert {
    @apply block mb-4 pl-3 pr-4 py-2 border-l-4;
    @apply text-base font-medium;

    &-success {
        @apply text-emerald-700 bg-emerald-50 border-emerald-600;
    }

    &-error {
        @apply text-red-700 bg-red-50 border-red-600;
    }
}


.blade-icon {
    display: inline-block;
    height: 1em;
    overflow: visible;
    box-sizing: content-box;
    vertical-align: -0.125em;
}


.btn {
    @apply inline-flex items-center justify-center px-4 h-10 min-h-10 ;
    @apply border rounded-md border-border-300 duration-300 ease-out cursor-pointer select-none disabled:opacity-25;
    @apply text-base font-normal text-center no-underline align-middle tracking-wide;
    /* box-shadow: 0px 1.6px 2px rgba(0,0,0,0.13), 0px 0px 2px rgba(0,0,0,0.11) !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */

    &-primary {
        @apply text-white bg-primary-600 border-primary-600;
        @apply hover:bg-primary-600/90 active:bg-primary-800;
    }

    &-secondary {
        @apply bg-gray-100 border-border-300;
        @apply hover:bg-gray-50 active:bg-gray-100;
    }

    &-sm {
        @apply h-8 min-h-8 px-3;
        @apply text-sm;
    }

    &-xs {
        @apply h-6 min-h-6 px-2;
        @apply text-xs;
    }

    &-square {
        @apply h-12 w-12 p-0;

        &:where(.btn-sm) {
            @apply h-8 w-8;
        }

        &:where(.btn-xs) {
            @apply h-6 w-6;
        }
    }
}


.card {
    @apply bg-white;
    @apply border border-border-200 rounded-md;

    &-master {
        @apply max-[640px]:rounded-none;
    }
}


.form-label {
    display: block;
    margin: 0 0 6px;
}

.form-input {
    @apply block w-full py-1.5;
    @apply border-border-300 focus:ring-0 focus:border-primary-500 rounded;
    @apply bg-gray-50/80 focus:bg-white;

    &[disabled], &:disabled {
        @apply bg-gray-50/80 text-slate-700 bg-opacity-50 text-opacity-50 cursor-not-allowed;
    }
}
