@import "./../../vendor/power-components/livewire-powergrid/dist/powergrid.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }
}

hr {
  @apply !border-uh-border-color;
}

/*
 * Components
 */

.blade-icon {
  display: inline-block;
  height: 1em;
  overflow: visible;
  box-sizing: content-box;
  vertical-align: -0.125em;
}

.btn {
  @apply inline-flex items-center px-3 py-1.5;
  @apply bg-uh-bg-2 hover:bg-stone-200 active:bg-uh-bg-2 text-gray-500 hover:text-gray-600 active:text-gray-500;
  @apply text-base font-normal leading-6 text-center no-underline align-middle tracking-wide;
  @apply rounded disabled:opacity-25;
  @apply cursor-pointer select-none;
  /* box-shadow: 0px 1.6px 2px rgba(0,0,0,0.13), 0px 0px 2px rgba(0,0,0,0.11) !important;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */

  &-sm {
    @apply text-sm leading-6;
    @apply px-2 py-1;
  }

  &-primary {
    @apply text-base font-normal text-white bg-green-700 border-green-800;
    @apply hover:text-white hover:bg-green-800 active:bg-green-700 hover:border-white;
  }

  &-secondary {
    @apply border border-uh-border-color;
    @apply text-sky-950 hover:text-sky-700 active:text-sky-950 ;
    @apply bg-uh-bg-2 hover:bg-stone-200 active:bg-uh-bg-2 ;
  }
}

.form-input {
  @apply block w-full;
  @apply border-uh-border-color focus:ring-uh-blue-2 focus:border-uh-blue-2 rounded
}

.common-card-style {
  @apply bg-white border-y sm:rounded-lg sm:border border-uh-border-color;
  /* @apply sm:shadow-[0_1px_2px_#e5e5e8]; */
}
