@import 'base.css';

.navbar {
    @apply bg-white/40 backdrop-blur-lg;
    @apply border-b border-border-200;

    &-brand {
        @apply flex items-center text-3xl md:text-4xl;
    }

    &-toggler {
        @apply inline-flex p-2;
    }

    .nav-item {
        @apply text-sm text-slate-800 hover:bg-gray-100 focus:bg-slate-100 leading-5;
        @apply block px-4 py-2 focus:outline-none transition;

        &.active {
            @apply border-l-2 border-primary-500 bg-gray-100;
        }
    }
}

.navbar-mobile {
    .nav-item {
        @apply text-slate-800;
        @apply block pl-3 pr-4 py-2 font-medium transition;

        &-username {
            @apply font-semibold;
        }

        &-email {
            @apply text-slate-500 font-medium text-sm;
        }
    }
}


.content {
    @apply card card-master;
    @apply px-2 md:px-8 py-5;
    /* @apply sm:shadow-[0_1px_2px_#e5e5e8]; */

    .content-header {
        @apply grid grid-cols-2 mb-8;
    }

    h1 {
        @apply border-b border-border-200;
        line-height: 1.25;
        font-weight: 600;
        padding-bottom: 0.5rem;
    }

    h3 {
        font-weight: 600;
        line-height: 1.25;
        margin-top: 24px;
        margin-bottom: 8px;

        &:first-child {
            margin-top: 0 !important;
        }
    }
}


.auth-card {
    @apply card;
    @apply w-full sm:max-w-md mt-6 px-12 py-8 overflow-hidden;
}


.hero__emphasizing {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABDQAAAA2CAMAAAAPtzlQAAAAQlBMVEUAAAD/0l//z1z/0l//0V7/0mD/0l3/z2D/01//z1z/0l//0l//0V7/z2D/0l//0V7/0l//0l//1Fr/0V7/z2D/0l/NIXyaAAAAFXRSTlMA3yCfgGBgQL9Av+9wEM9Qr48wkDBVXCaXAAAHX0lEQVR42u2dCYKjIBBFBXEFBGO8/1WHTSHdk87iBlrvBJ2GvHyKpbIfcIybRpQlI4TkilaDJsanUDTTtY7c0BMNKzWN5oYVGQAACcNvJelz2SE67sqsmFxBFJNYQCvAKnDsaR4pF9A8cMMTPLsKuKdjnOj40ipcXnGjBUK5GhxrbuF3nRj63CBbi0/ER/OQuWWu8YFbGNMk7ZgiVmX8DbVjYkeD2ZFIeRguCZ8SgBdBrmkVHdKkOTk/wclF+pkc/w8jHs9GaBOQyaE4J4jSFsl6J4QuijQQPzZom5jN9ES+xaKSerwINppIMwRqEoNL1oF7L2gtOCtcIiMcA0WdFon2iNLIMVN4vDg0sDmo5ClWDTYxODOAGOJAW0QqiejZu9PchXF/SyWxBMOtwW7LvZzc0MFKIi2oVcimBpEj8C7TAucMJuFmO2K2AwSHU4LaNtfrmNu6/sDwO7KGSeIrVj36wR3YM3qA7HBFUCt7ovWxuTUo0tSW/E9kPYPQRbbLXq1uCCG7RhIvCEJ6s7gAPwA/6XT6WGqPonYu6pQXBsKKoqruGONVj+ZUhkLBiGLIFbXmMttvvkyyuOAanvl3CUKCIIDPoJ3slTyyb7lXh+8ZTGYRyitE4cJLd+rEglD3tkh0hijLEgzx/OZTVzvyGRJQ/ERUnyGKR4jnZ+DuIjmb+gaozZm4ZeeDY3y3o+au0p3XJz6RuBDRtuf8oM/xBpC5JvzOVwaMcUIXlLDm/pi1p6gdzfZU1/ai4dk1wBjPOhmU6k9rk3Mw+WC2wayClDSwOnyexsX8q3iETrqWnDJ1fBROnEzMIECm3wOkcBlhIIQ4JdyvbIQlcCMTM4udScbNoW1/ZXP8BxsUA5dALvkcGxemW1bWC6CFveB6ChuNyLreavbSljUZ8ELooJInbrCZgZnC4R3MECFKIqIwDunWDSItAXF8lUqEWWae2yRmSSEDOYAb0gXrGGIMQsflUFnCVFgKvwk25PXJ9EF/HGw9fAseWE0gZFjqjxa88S7+fIQ7HnGxvU9/Qr4EkaQPrgRT+kDjV+SwTvlTEs0sCdhuAZGcD27tQT8d+jIDfJIASSyChrd/o7yzBzw5CK7k0VHQxls3NkTJSH+55cae0PBgq4C3jWKGV4LIbnyH/Cq/B3yOEklc2UDBxUG/b5PAH/5+JIFX0mJE5Q5Zv5ydZ7VGaInYowTVe53ma1QIfQjinbMk5ijJaQ64uiqJe0dgtzIJVlywYclL7oL8We2gZ7FGOpbQjjBfEH0YAmO+zuFAYc+kybqO/ON/997i6xfl+dQYRfxohiBbTff+Cy9zwxI5v2ef9hNtX4HF8DRzoGQNO9UlIi9eLnDE0iNpRcFOdyJt6k7RT81RdnzrSVss783beRdRSPVEHCxLBquJyMOEWWs4R8QVev3K5jwlkuOgnXs8L6Yh3gBcyPEXbRYxHN8i10RYs7wnl2FNiUScrUSyN0jpg4kmtcH/wBvopzGzuDBxgpBYFx3hYiM5R4BINsLbg7DzZY/md6vn7HC49oQpTkQXJ1xFItEgsY1IQCNvPb15ijew+I3ldPxFlx0CvjVm3RFZnrCScKuNqCoSe8LdRoTbhujdHkQqL15Gg5VHmsmD30qSPxvuItsNjLUo4goUF00SYV9m0MLW0FaSskniISxdRCS5O1h+xJar/yv6aBIFtYXLE9ckfFYAK0QGat0LyaVCNJpjX0X1PTB+VQf2P9zFdabo8xgihd3eIORc643fUoBm7anjDpUZckNPLKx0NAE3/Jpb4xClgQRT5euZgvDKU9lkm+Omrc8SaVcluF8+2JGejjZeu20dcDyU8PVesuoPcwVNLUtYJSjKh5wATgBiZxVlYMHyFo274sNEjHWJhysQLEwJHRQUPoVOT577N8/F3CfJ9h2C5hT70bKlyuCib+m4PV4Tg9bEcWEC//KBjwgdZIRFWqgftXD/9trpr0Y34OmVoHKxMZp+87FAaJ80wbGm0ZSPNpCgg9W88N/WSdkCFjS6kae6wrcDKGf3bClko3+4W3UsrU1gS1A2ZsSZwKsAXLChF1JpnTTJpDh7d+BvocoXgmfLwd0WeSL0BMczfs/IQRy5RbYGlE6H7jT53zIiCS8sbzY+XFEnFMmBifXGVq68Nw0/+lFwLS18DQ584hY7irPMYIrqfGDFffUhH4EkCa0QFhfgrbvVwIpKUSimOFxrIo7B822rSqliK/gIxEnQrD0nYIUI4XfBhrobD4AGs8POjervR6IgaZwBmxS8FNgkBVhBpAauCvKqVREKantVgCheIaqJeN5MjjVnJQ4KnDAEQaGKZdwBxRbB4wqNAtgIfAqdlJCHawcBOQGwLVZJ/thhtT3bnCAjEII0tS8xOiNASgC+6ZGIUDdU2enArBsvgQsIYUJgc0QAIQDAJ/CKyC7ZrWn0KIPB2kBTgQ4AYEt4JRgZ5PFdvZDXQC2dCLwJhFFBNJVkAACCZjzCHWsZck0906E/6eoQmc8MxMEKR2WBFpwAcBT/AJ9GpqliwB/cAAAAAElFTkSuQmCC);
	background-position: center bottom;
	background-size: 98%;
	background-repeat: no-repeat;
	margin: 0 0 -1%;
	padding: 0 0 1%;
}


#power-grid-table-base {
    div:has(> div > table) {
        @apply border-border-200;
        scrollbar-width: thin;
    }

    table {
        thead {
            box-shadow: none;
            border-radius: unset;
        }

        tr {
            @apply hover:bg-primary-50/40;
        }

        td {
            @apply border border-border-200;
            @apply first:border-l-0 last:border-r-0;
        }
    }

    button, input, select {
        @apply ring-border-200 focus:ring-primary-500;
        @apply focus-within:focus:ring-primary-500 focus-within:ring-primary-500 focus-within:ring-1;
    }

    button[data-cy^="toggle-columns-"] {
        @apply bg-gray-100 hover:bg-gray-50 active:bg-gray-100 focus-within:ring-1;
        @apply duration-300 ease-out;

        svg {
            @apply text-slate-800;
        }
    }

    nav[aria-label="Pagination Navigation"] {
        span, a {
            @apply border-border-200;
        }

        span {
            @apply text-white bg-primary-600 border-primary-600;
            @apply first:rounded-l-md last:rounded-r-md;
        }

        a {
            @apply hover:text-primary-700 hover:font-semibold;

            &:first-child {
                border-right: none;
            }

            &:nth-last-child(-n + 2) {
                border-left: none;
            }
        }
    }

    #pg-footer {
        @apply border-border-200;
    }
}


.page_about {
    .code {
        @apply bg-gray-100 text-slate-800 rounded px-1 py-0.5
    }

    .config {
        dl {
            display: grid;
            grid-gap: 4px 16px;
            @apply md:auto-cols-[auto_1fr];
        }

        dt {
            @apply md:w-64;
            @apply font-semibold md:font-normal;
        }

        dd {
            @apply ms-6 md:col-start-2;
        }

        .config-value-bool {
            padding: .1em .2em;
            @apply bg-gray-100 rounded
        }
    }
}
