@tailwind base;
@tailwind components;
@tailwind utilities;

.frontend, .backend, .auth {
  @apply bg-gray-100 font-sans text-gray-900 antialiased;
}

.navbar {
  @apply bg-white text-uh-blue;

  &-brand {
    @apply font-serif text-4xl font-bold;
    @apply flex items-center;
  }

  .nav-item {
    @apply text-sm text-gray-700 hover:bg-gray-100 focus:bg-gray-100 leading-5;
    @apply block px-4 py-2 focus:outline-none transition;
  }

  &-mobile {
    .nav-item {
      @apply text-gray-700;
      @apply block pl-3 pr-4 py-2 font-medium transition;

      &-username {
        @apply font-semibold;
      }

      &-email {
        @apply text-gray-500 font-medium text-sm;
      }
    }
  }

  .frontend & {
    @apply bg-[#3d5b99] text-white;

    .navbar {
      &-toggler {
        @apply text-white;
      }

      &-mobile {
        .nav-item {
          @apply text-white;

          &-email {
            @apply text-gray-300;
          }
        }
      }
    }
  }
}

main {
  @apply sm:mt-10;
}

.form-input {
  @apply block w-full;
  @apply border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm
}

.button {
  @apply text-xs uppercase tracking-widest;
  @apply rounded-md px-4 py-2;

  @apply text-white bg-gray-800 hover:bg-gray-700 active:bg-gray-900;
  @apply border border-transparent focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition;
}

.badge-rounded {
  @apply text-xs font-bold;
  @apply text-center align-baseline whitespace-nowrap;
  @apply rounded-full py-1 px-2;
}
