@import 'base.css';

.navbar {
    @apply bg-white text-primary-800;
    @apply border-b border-uh-border-color;

    &-brand {
        @apply flex items-center text-4xl;
    }

    &-toggler {
        @apply inline-flex p-2;
    }

    .nav-item {
        @apply text-sm text-gray-700 hover:bg-primary-50 hover:text-primary-800 focus:bg-slate-100 leading-5;
        @apply block px-4 py-2 focus:outline-none transition;
    }
}

.navbar-mobile {
    .nav-item {
        @apply text-gray-700;
        @apply block pl-3 pr-4 py-2 font-medium transition;

        &-username {
            @apply font-semibold;
        }

        &-email {
            @apply text-gray-500 font-medium text-sm;
        }
    }
}


#power-grid-table-base {
    table {
        thead {
            @apply bg-gray-100;
            box-shadow: none;
            border-radius: unset;
        }

        td {
            border: 1px solid #e2e8f0;

            &:first-child {
                border-left: none;
            }

            &:last-child {
                border-right: none;
            }
        }
    }
}


.page_about {
    dl {
        display: grid;
        grid-gap: 4px 16px;
        grid-template-columns: max-content;
    }

    dt {
        @apply w-56 md:w-64;
        @apply font-semibold md:font-normal;
    }

    dd {
        @apply ms-6 md:col-start-2;
    }

    .config-value-bool {
        padding: .1em .2em;
        @apply bg-gray-100 rounded
    }
}
