@import 'base.css';

.navbar {
    @apply bg-white text-primary-700;
    @apply border-b border-border-200;

    &-brand {
        @apply flex items-center text-4xl;
    }

    &-toggler {
        @apply inline-flex p-2;
    }

    .nav-item {
        @apply text-sm text-slate-800 hover:bg-gray-100 focus:bg-slate-100 leading-5;
        @apply block px-4 py-2 focus:outline-none transition;
    }
}

.navbar-mobile {
    .nav-item {
        @apply text-slate-800;
        @apply block pl-3 pr-4 py-2 font-medium transition;

        &-username {
            @apply font-semibold;
        }

        &-email {
            @apply text-slate-500 font-medium text-sm;
        }
    }
}


.content {
    @apply --card-style;
    @apply px-2 md:px-8 py-5;
    /* @apply sm:shadow-[0_1px_2px_#e5e5e8]; */

    .content-header {
        @apply grid grid-cols-2 mb-8;
    }

    h1 {
        @apply border-b border-border-200;
        font-size: 2rem;
        line-height: 1.25;
        font-weight: 600;
        padding-bottom: 0.5rem;
    }

    h3 {
        color: #1f2328;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.25;
        margin-top: 24px;
        margin-bottom: 8px;

        &:first-child {
            margin-top: 0 !important;
        }
    }
}


.auth-card {
    @apply --card-style;
    @apply w-full sm:max-w-md mt-6 px-12 py-8 overflow-hidden;
}


#power-grid-table-base {
    div:has(> div > table) {
        @apply border-border-200;
        scrollbar-width: thin;
    }

    table {
        thead {
            box-shadow: none;
            border-radius: unset;
        }

        tr {
            @apply hover:bg-primary-50/40;
        }

        td {
            @apply border border-border-200;
            @apply first:border-l-0 last:border-r-0;
        }
    }

    button, input, select {
        @apply ring-border-300 focus:ring-primary-500;
        @apply focus-within:focus:ring-primary-500 focus-within:ring-primary-500 focus-within:ring-1;
    }

    button[data-cy^="toggle-columns-"] {
        @apply bg-gray-100 hover:bg-gray-200 active:bg-gray-100 focus-within:ring-1;
        @apply duration-300 ease-out;

        svg {
            @apply text-slate-800;
        }
    }

    nav[aria-label="Pagination Navigation"] {
        span, a {
            @apply border-border-300;
        }

        span {
            @apply text-white bg-primary-600 border-primary-600;
            @apply first:rounded-l-md last:rounded-r-md;
        }

        a {
            @apply hover:text-primary-600 hover:font-semibold;

            &:first-child {
                border-right: none;
            }

            &:nth-last-child(-n + 2) {
                border-left: none;
            }
        }
    }

    #pg-footer {
        @apply border-border-200;
    }
}


.page_about {
    .code {
        @apply bg-gray-100 text-slate-800 rounded px-1 py-0.5
    }

    .config {
        dl {
            display: grid;
            grid-gap: 4px 16px;
            @apply md:auto-cols-[auto_1fr];
        }

        dt {
            @apply md:w-64;
            @apply font-semibold md:font-normal;
        }

        dd {
            @apply ms-6 md:col-start-2;
        }

        .config-value-bool {
            padding: .1em .2em;
            @apply bg-gray-100 rounded
        }
    }
}
